@page "/projects"
@attribute [Authorize]
@inject IProjectDTOService ProjectService 


<MudContainer MaxWidth="MaxWidth.Large" Class="py-4 ">
       
    @foreach(ProjectDTO project in projects)
    {
        <div class="py-3">
            <ProjectCard Project="project" />
        </div>
    }

</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; } = default!;

    private IEnumerable<ProjectDTO> projects = [];

    protected override async Task OnInitializedAsync()
    {
        UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        projects = await ProjectService.GetProjectsAsync(userInfo!);
    }
}
